body {
  /* background-color: #f8f9fa; */
}

.diary-entry {
  transition: transform 0.2s;
}

.diary-entry:hover {
  transform: translateY(-3px);
}

.auth-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blogs-number {
  color: #388e3c; /* Normal color */
  transition: color 0.3s;
}

.blogs-number.blog-created {
  color: #ff9800; /* Highlight color */
}